<section>
  <app-add-or-update-recipe
    *ngIf="showCreateRecipeForm"
    (EmitTaskData)="CreateOrUpdateRecipe($event)"
    (cancel)="onCancel()"
    [isEditMode]="editMode"
    [selectedRecipe]="selectedRecipe"
  ></app-add-or-update-recipe>

  <div class="filter-container">
    <button
      (click)="showCreateRecipeForm = true; editMode = false"
      class="glow-on-hover"
    >
      Add New Recipe
    </button>
    <div class="filter-box">
      <div class="search-container">
        <i class="material-icons search-icon">search</i>
        <input
          type="text"
          name="search"
          placeholder="Search..."
          class="search-input"
          (input)="onSearchChange($event)"
        />
        <div class="search"></div>
      </div>
      <button mat-button (click)="toggleFavoriteFilter()">
        {{ showOnlyFavorites ? "Show All Recipes" : "Show Favorites" }}
      </button>
    </div>
  </div>

  <div *ngIf="isLoading" class="ng-content">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="50"
    ></mat-progress-spinner>
  </div>

  <div *ngIf="!isLoading && recipes.length < 1" class="ng-content">
    <h2>No recipes has been created yet!</h2>
  </div>

  <div class="container" *ngIf="!isLoading && filteredRecipes">
    @for(recipe of filteredRecipes; track recipe.id){
    <mat-card
      class="example-card grow"
      appearance="outlined"
      [ngStyle]="setBackgroundStyle()"
    >
      <div>
        <h2>{{ recipe.title }}</h2>
        <button
          mat-icon-button
          (click)="toggleFavorite(recipe)"
          class="animated-icon"
        >
          <mat-icon [class.favorite]="isFavorite(recipe.id)">
            {{ isFavorite(recipe.id) ? "favorite" : "favorite_border" }}
          </mat-icon>
        </button>
      </div>
      <img
        mat-card-image
        [src]="recipe.thumbnail"
        sizes="(max-width: 600px) 300px, 350px"
        alt="Recipe Image"
        loading="eager"
      />
      <div>
        <button mat-button (click)="getRecipeDetails(recipe.id)">
          SEE DETAIlS
        </button>
        <button mat-button (click)="DeleteRecipe(recipe.id)">DELETE</button>
        <button mat-button (click)="OnEditRecipeClicked(recipe.id)">
          EDIT
        </button>
      </div>
    </mat-card>
    }
  </div>
</section>
