.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  .filter-box {
    display: flex;
    flex-direction: column;
  }
}

.example-card {
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;

  img {
    width: 250px;
    height: 300px;
  }

  &:hover {
    box-shadow: 0 0 40px #ffff00 !important;

    h3,
    .animated-icon {
      color: #ffff00;
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  h3,
  .animated-icon {
    font-size: 1.2rem;
    font-weight: normal;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;

    @media (max-width: 899px) {
      font-size: 0.9rem;
    }
  }
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;

  &:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}

.animated-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 12px 32px;
  color: #fff;
  background-color: #1ed760;
  height: 48px;
  :hover {
    transform: scale(1.04);
    background-color: #21e065;
  }
}
