<div style="text-align: center" *ngIf="recipes.length < 1">
  <h2>No recipes has been created yet!</h2>
</div>
<button mat-raised-button (click)="openCreateRecipeForm()">
  Add New Recipe
</button>

<button mat-raised-button (click)="openDialog('3000ms', '1500ms')">
  Open dialog slowly
</button>

<div class="container">
  @for(recipe of recipes; track recipe.id){
  <mat-card
    class="example-card"
    appearance="outlined"
    (click)="EditRecipe(recipe.id)"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>Recipe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="recipe.thumbnail" alt="Recipe Image" />
    <mat-card-content>
      <p>{{ recipe.instructions }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  }
</div>
