<div style="text-align: center" *ngIf="recipes.length < 1">
  <h2>No recipes has been created yet!</h2>
</div>
<button mat-raised-button (click)="openDialog('300ms', '150ms')">
  Add New Recipe
</button>

<button mat-raised-button (click)="openDialog('300ms', '150ms')">
  Open dialog slowly
</button>

<div class="container">
  @for(recipe of recipes; track recipe.id){
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>Recipe</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      [src]="recipe.thumbnail"
      sizes="(max-width: 600px) 300px, 350px"
      alt="Recipe Image"
      loading="lazy"
    />
    <mat-card-content>
      <p>{{ recipe.instructions }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button (click)="EditRecipe(recipe.id)">SEE DETAIlS</button>
      <button mat-button (click)="DeleteRecipe(recipe.id)">DELETE</button>
    </mat-card-actions>
  </mat-card>
  }
</div>
