section {
  min-height: 78vh;
  width: 100%;
}

.example-card {
  background: rgb(3, 8, 31);
  color: #ffff !important;
  width: 80%;
  margin: 0 auto;
  position: relative;
  .go-back {
    position: absolute;
    right: 0;
    top: 1rem;
  }
  h3 {
    margin-top: 1rem;
  }

  h2 {
    font-size: 24px;
  }
}
