<section>
  <div *ngIf="recipe">
    <mat-card class="example-card grow" appearance="outlined">
      <button mat-button class="go-back" (click)="goBack()">Go Back</button>
      <mat-card-header>
        <h2>{{ recipe.title }}</h2>
      </mat-card-header>
      <img mat-card-image [src]="recipe.thumbnail" [alt]="recipe.title" />
      <mat-card-content>
        <h3>Ingredients:</h3>
        <span *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient }}
        </span>
        <h3>Instructions:</h3>
        <p>{{ recipe.instructions }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-icon-button
          (click)="toggleFavorite(recipe)"
          class="animated-icon"
        >
          <mat-icon [class.favorite]="isFavorite(recipe.id)">
            {{ isFavorite(recipe.id) ? "favorite" : "favorite_border" }}
          </mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
