.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  height: 100%;
  .popup {
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    height: max-content;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    form {
      margin-top: 1rem;
      overflow-y: auto;
      max-height: 80vh;
      overflow-x: hidden;
      .mat-mdc-form-field {
        width: 100% !important;
        &:first-of-type {
          margin-top: 1rem !important;
        }
      }
    }
  }
}

//image upload section

.image-upload-section {
  margin: 16px 0;

  .image-upload-container {
    margin-bottom: 16px;

    &.btn {
      padding: 8px 16px;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;

      &:hover {
        background-color: #eeeeee;
      }
    }
  }
  input:not([type="file" i]) {
    color: red;
  }

  .current-image-url {
    margin-top: 8px;

    .mat-form-field {
      width: 100%;
    }

    input {
      color: rgba(0, 0, 0, 0.87);
      background-color: #fafafa;
    }
  }
}

//ingredient-list

.ingredients-list {
  margin-top: 1rem;
  margin-bottom: 16px;
  .ingredient-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
}
