<section class="overlay">
  <div class="popup">
    <h2 mat-dialog-title>
      {{ isEditMode ? "Update Recipe" : "Add New Recipe" }}
    </h2>
    <form [formGroup]="recipeForm">
      <mat-form-field appearance="outline">
        <mat-label>Recipe Title</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="recipeForm.get('title')">
          {{ getErrorMessage(recipeForm.get("title")) }}
        </mat-error>
      </mat-form-field>

      <mat-label>Please upload image</mat-label>
      <div class="image-upload-container" *ngIf="!isEditMode">
        <input
          #imageInput
          type="file"
          accept="image/*"
          (change)="processFile(imageInput)"
        />
      </div>

      <div class="image-upload-container btn btn-bwm" *ngIf="isEditMode">
        <input
          #imageInput
          type="file"
          accept="image/*"
          (change)="processFile(imageInput)"
          hidden
        />
        <div
          class="current-image-url"
          *ngIf="recipeForm.get('thumbnail')?.value"
        >
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Current Image URL</mat-label>
            <input
              matInput
              [value]="recipeForm.get('thumbnail')?.value"
              readonly
            />
            <button
              matSuffix
              mat-icon-button
              (click)="imageInput.click()"
              type="button"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <mat-error
        *ngIf="
          recipeForm.get('thumbnail')?.invalid &&
          recipeForm.get('thumbnail')?.touched
        "
      >
        Image is required.
      </mat-error>

      <div
        *ngIf="selectedFile || recipeForm.get('thumbnail')?.value"
        class="img-preview-container"
      >
        <div
          class="img-preview"
          [ngStyle]="{
            'background-image':
              'url(' +
              (selectedFile.src || recipeForm.get('thumbnail')?.value) +
              ')'
          }"
        ></div>
      </div>

      <div formArrayName="ingredients" class="ingredients-list">
        <div
          *ngFor="let ingredient of ingredients.controls; let i = index"
          class="ingredient-row"
        >
          <mat-form-field appearance="outline" class="ingredient-input">
            <mat-label>Ingredient {{ i + 1 }}</mat-label>
            <input matInput [formControlName]="i" required />
            <mat-error *ngIf="submitted && ingredient.invalid">
              <ng-container *ngIf="ingredient.hasError('required')"
                >Ingredient is required.</ng-container
              >
              <ng-container *ngIf="ingredient.hasError('minlength')">
                Ingredient must be at least 2 characters long.
              </ng-container>
            </mat-error>
          </mat-form-field>
          <button
            mat-icon-button
            color="warn"
            type="button"
            (click)="removeIngredient(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <!-- No ingredients error -->
        <mat-error *ngIf="submitted && ingredients.length === 0">
          At least one ingredient is required.
        </mat-error>

        <button
          mat-button
          type="button"
          (click)="addIngredient()"
          class="add-ingredient-btn"
        >
          <mat-icon>add</mat-icon> Add Ingredient
        </button>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Instructions</mat-label>
        <textarea
          matInput
          formControlName="instructions"
          required
          rows="4"
        ></textarea>
        <mat-error *ngIf="recipeForm.get('instructions')">
          {{ getErrorMessage(recipeForm.get("instructions")) }}
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="submitForm()">
      {{ isEditMode ? "Update Recipe" : "Add Recipe" }}
    </button>
  </div>
</section>
