* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #2d2d32;
  font-family: "Nunito Sans", serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

.example-card {
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  background: #2d2d32;

  img {
    width: 250px;
    height: 220px;
    object-fit: cover;
  }

  &:hover {
    box-shadow: 0 0 40px #ffff00 !important;

    h2,
    .animated-icon {
      color: #ffff00;
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  h2,
  .animated-icon {
    font-size: 1.4rem;
    font-weight: normal;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;

    @media (max-width: 899px) {
      font-size: 0.9rem;
    }
  }
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;

  &:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}
